body {
    background-color: aliceblue;
    font-family: serif;
}

.btn-rosa {
    background-color: #ff66b2;
    width: 100px;
    color: white;
    border: none;
}

.btn-rosa:hover {
    background-color: #ff3385;
}